* {
    border: none;
    border-radius: 0;
    font-family: "SF Pro Display", "JetBrainsMono Nerd Font";
    font-size: 14px;
    min-height: 0;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: rgba(29, 32, 33, 0.5);
    color: #f9f5d7;
}

tooltip {
    background: #504945;
    border: 1px solid #504945;
    color: #f9f5d7;
}

#workspaces button {
    padding: 1px;
    background: rgba(80, 73, 69, 0.5);
    color: #f9f5d7;
    font-weight: bold;
}

#workspaces button.focused {
    background: #f9f5d7;
    color: #504945;
    font-weight: bold;
}

#mode, #clock, #battery {
    padding: 0 10px;
}

#mode {
    background: #7c6f64;
    border-bottom: 3px solid #fbf1c7;
}

#clock {
    font-weight: bold;
}

#battery {
    background-color: #f9f5d7;
    color: #1d2021;
}

#battery.charging {
    color: #f9f5d7;
    background-color: #79740e;
}

@keyframes blink {
    to {
        background-color: #f9f5d7;
        color: #1d2021;
    }
}

#battery.warning:not(.charging) {
    background: #9d0006;
    color: white;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray menu {
    background-color: #504945;
    color: #f9f5d7;
}
