* {
    border: none;
    border-radius: 0;
    font-family: "SF Pro Display", "JetBrainsMono Nerd Font";
    font-size: 14px;
    min-height: 0;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: #EBE1BB;
    color: #282828;
}

tooltip {
    background: #f9f5d7;
    border: 1px solid #f9f5d7;
    color: #f9f5d7;
}
tooltip label {
    color: #282828;
}

#workspaces button {
    padding: 1px;
    background: #CAC19D;
    color: #282828;
    font-weight: bold;
}

#workspaces button.focused {
    background: #f9f5d7;
    color: #282828;
    font-weight: bold;
}

#mode, #clock, #battery {
    padding: 0 10px;
}

#mode {
    background: #928374;
    border-bottom: 3px solid #f9f5d7;
}

#clock {
    font-weight: bold;
}

#battery {
    background-color: #f9f5d7;
    color: #282828;
}

#battery.charging {
    color: #f9f5d7;
    background-color: #b8bb26;
}

@keyframes blink {
    to {
        background-color: #f9f5d7;
        color: #282828;
    }
}

#battery.warning:not(.charging) {
    background: #fb4934;
    color: #CAC19D;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
    background-color: #CAC19D;
    color: #282828;
}
#tray menu {
    background-color: #f9f5d7;
    color: #282828;
}
