* {
    border: none;
    border-radius: 0;
    font-family: "SF Pro Display", "JetBrainsMono Nerd Font";
    font-size: 14px;
    min-height: 0;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: rgba(53, 53, 53, 0.5);
    color: #EEEEEE;
}

tooltip {
    background: #EEEEEE;
    border: 1px solid #EEEEEE;
    color: #EEEEEE;
}
tooltip label {
	color: #353535;
}

#workspaces button {
    padding: 1px;
    background: rgba(92, 92, 92, 0.5);
    color: #EEEEEE;
    font-weight: bold;
}

#workspaces button.focused {
    background: #EEEEEE;
    color: #353535;
    font-weight: bold;
}

#mode, #clock, #battery {
    padding: 0 10px;
}

#mode {
    background: #c6c3c3;
    border-bottom: 3px solid #EEEEEE;
}

#clock {
    font-weight: bold;
}

#battery {
    background-color: #EEEEEE;
    color: #353535;
}

#battery.charging {
    color: #EEEEEE;
    background-color: #4f6c31;
}

@keyframes blink {
    to {
        background-color: #EEEEEE;
        color: #353535;
    }
}

#battery.warning:not(.charging) {
    background: #94253e;
    color: #EEEEEE;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray menu {
    background-color: #EEEEEE;
    color: #353535;
}
