[Desktop Entry]
Name=ElectronMail
Exec=/opt/ElectronMail/electron-mail --js-flags="--max-old-space-size=6144" %U
Terminal=false
Type=Application
Icon=/usr/share/icons/Tela-circle-dark/scalable/apps/email.svg
StartupWMClass=electron-mail
Comment=Unofficial ProtonMail Desktop App
Categories=Office;
